.planet-table {
  overflow: auto;
}

.table-headers {
  background-color: rgba(18, 18, 18, 0.75);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-family: Squada One , cursive;
  font-weight: 300;
  padding: 5px;
}
