* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loading-page {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.loading-saber-hilt {
  transform: rotate(34.5deg) translateX(3px) translateY(1px);
  width: 280px;
}

.loading-saber-blade {
  animation: lightsaber-switch infinite 3s linear;
  background: linear-gradient(to right, white 50%, rgba(0, 0, 0, 0) 50%) left;
  background-size: 200%;
  border-radius: 0 500px 500px 0;
  height: 35px;
  transition: 1s;
  width: 900px;
}

@keyframes lightsaber-switch {

  from {
    background-position: right;
    box-shadow: none;
  }

  50% {
    background-position: left;
    box-shadow: 5px 5px 8px rgb(0, 54, 170) inset , -5px -5px 8px rgb(0, 54, 170) inset , 0 0 3em rgb(0, 38, 255) , 0 0 3em rgb(0, 119, 255);
  }

  to {
    background-position: right;
    box-shadow: none;
  }

}